In [14]:
import pandas as pd
import numpy as np

In [97]:
savepath1 = "../data/one_sentence/"
savepath2 = "../data/oneplus_sentence/"
openpath = "../data/sample_questions_labeled.csv"

## Getting all the easy questions out

In [54]:
df0 = pd.read_csv(
    openpath
)

### Getting any answer that is one sentence and the length of the sentence

In [56]:
df0.head()

,student_answer,teacher_answer,label,question_id
0,By letting it sit in a dish for a day.,"The water was evaporated, leaving the salt.",0,25
1,Let the water evaporate and the salt is left b...,"The water was evaporated, leaving the salt.",1,25
2,The water evaporated and left salt crystals.,"The water was evaporated, leaving the salt.",1,25
3,I saw a pinkish grayish color that was blockin...,"The water was evaporated, leaving the salt.",0,25
4,You have to slowly tip the vial for only the w...,"The water was evaporated, leaving the salt.",0,25

In [66]:
qids = sorted(list(df0.question_id.unique()))

In [89]:
def add_answer_row(df, answer, question_id):
    df.loc[-1] = [answer, answer, 1, question_id]
    df.reset_index(drop = True, inplace = True)
    return df.copy()

temp = add_answer_row(temp, temp.iloc[0,1], temp.iloc[0,-1])
temp.tail()

# temp[-1] = [temp.iloc[0,1], temp.iloc[0,1], 1, temp.iloc[0,-1]]

,student_answer,teacher_answer,label,question_id
36,The contour lines are closest together at Q.,The contour lines are closest together at Q.,1,134
37,The contour lines are closest together at Q.,The contour lines are closest together at Q.,1,134
38,The contour lines are closest together at Q.,The contour lines are closest together at Q.,1,134
39,The contour lines are closest together at Q.,The contour lines are closest together at Q.,1,134
40,The contour lines are closest together at Q.,The contour lines are closest together at Q.,1,134

In [102]:
# This organizes all the questions into seperate datasets and puts them into the appropriate folders
for num in qids:
    temp = df0[df0.question_id == num]
    size = len(temp)
    #print(f"Size of {num}: {size} rows")
    answer = temp.iloc[0,1]
    answer_len = len(answer.split(" "))
    #print(f"Length of answer: {answer_len}")
    num_sent = len(answer.split(".")) - 1
    #print(f"Number of Sentences: {num_sent}")
    if num_sent == 1:
        temp = temp = add_answer_row(temp, answer, num)    
        temp.to_csv(
            f"{savepath1}question{num}_len{answer_len}_size{size}.csv",
            index = False
        )
    else:
        temp = temp = add_answer_row(temp, answer, num)    
        temp.to_csv(
            f"{savepath2}question{num}_len{answer_len}_size{size}_sent{num_sent}.csv",
            index = False
        )